<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <!--面版标题-->
            <i class="glyphicon glyphicon-list-alt"></i> 编辑用户
        </h3>
    </div>
    <div class="panel-body">
        <!--面版内容-->
        <form class="form-horizontal" method="post" action="{% url 'account_edit' user.id %}">
            {% csrf_token %}
            <fieldset>
                <div class="control-group">
                    <label class="control-label">用&nbsp;&nbsp;户&nbsp;&nbsp;名&nbsp;</label>
                    <input class="input-xlarge uneditable-input" value="{{ user.username }}" readonly="readonly">
                </div>

                <div class="control-group">
                    <label class="control-label">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码<span style="color:#f00">*</span></label>
                    <input class="input-xlarge" type="password" name="password">
                    <p style="display: inline;color: #737373;margin-left: 20px;">
                        如果置空,则密码不修改.
                    </p>
                </div>

                <div class="control-group">
                    <label class="control-label">真实姓名<span style="color:#f00">*</span></label>
                    <input class="input-xlarge" type="text" value="{{ user.realname }}" name="realname" required/>
                </div>

                <div class="control-group">
                    <label class="control-label">电子邮件</label>
                    <span class="input-xlarge uneditable-input">&nbsp;&nbsp;{{ user.email }}</span>
                </div>

                <div class="control-group">
                    <label class="control-label">角&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;色<span style="color:#f00">*</span></label>
                    {% for key, value in ROLE_DICT.items %}
                        <label class="checkbox-inline" style="vertical-align: top">
                            <input type="radio" name="role" value="{{ key }}"
                                   {% if key == user.role %}checked{% endif %}/>
                            {{ value }}
                        </label>
                    {% endfor %}
                </div>

                <div class="control-group">
                    <label class="control-label">部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;门<span
                            style="color:#f00">*</span></label>
                    <select name="department" data-placeholder="选择你的部门" id="department" data-rel="chosen"
                            style="width:150px;">
                        {% for key,value in DEPART_DICT.items %}
                            {% ifequal user.department key %}
                                <option value="{{ key }}" selected="selected">{{ value }}</option>
                            {% else %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endifequal %}
                        {% endfor %}
                    </select>
                </div>

                <div class="control-group">
                    <label class="control-label">联系方式&nbsp;&nbsp;</label>
                    <input class="input-xlarge" type="text" value="{{ user.phone }}" name="phone"/>
                </div>
                <br>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">保存</button>
                    <!--button class="btn">取消</button-->
                    <a class="btn btn-primary" href="/">取消</a>
                    <a class="btn btn-primary btn-sm" href="/">
                    <i class="glyphicon glyphicon-backward icon-white"></i>返回</a>

                </div>
            </fieldset>
        </form>
    </div>
    <!--<div class="panel-footer">
        面版底部
    </div>-->
</div>