{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'user/css/common.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <!--面版标题-->
                <i class="glyphicon glyphicon-list-alt"></i> 用户管理
                <!--<a href="{% url 'account_add' %}" onclick="return executeMenu(this);" style="float: right">-->
                <a href="{% url 'account_add' %}" onclick="return executeMenu(this);">
                    <i class="glyphicon glyphicon-plus icon-white"></i>
                </a>
            </h3>
        </div>
        <div class="panel-body">
            <!--面版内容-->
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                <tr>
                    <th>序列</th>
                    <th>用户ID</th>
                    <th>用户名</th>
                    <th>真实姓名</th>
                    <th>角色</th>
                    <th>部门</th>
                    <th>最后登录</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.realname }}</td>
                        <td>{{ user.role }}</td>
                        <td>{{ user.department }}</td>
                        <td>{{ user.last_login|date:"Y-m-d H:i:s" }}</td>
                        <td class="center ">
                            <a class="btn btn-xs btn-primary" href="{% url 'account_edit' user.id %}"
                               onclick="return executeMenu(this);">
                                <i class="glyphicon glyphicon-edit icon-white"></i>
                                编辑
                            </a>
                            <a class="btn btn-xs btn-info" href="{% url 'account_detail' user.id %}"
                               onclick="return executeMenu(this);">
                                <i class="glyphicon glyphicon-search icon-white"></i>
                                详细
                            </a>
                            {% if item.username == 'admin' %}
                                <a class="btn btn-xs btn-danger" href="{% url 'account_delete' user.id %}"
                                   onclick="return executeDelete(this);" title="您确定要删除该项吗?" disabled>
                                    <i class="glyphicon glyphicon-trash icon-white"></i>
                                    删除
                                </a>
                            {% else %}
                                <a class="btn btn-xs btn-danger" href="{% url 'account_delete' user.id %}"
                                   title="您确定要删除该项吗?">
                                    <i class="glyphicon glyphicon-trash icon-white"></i>
                                    删除
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!--<div class="panel-footer">
            面版底部
        </div>-->
    </div>

{% endblock %}

{% block scripts %}
    <!--custom scripts-->
    <script src="{% static 'user/js/common.js' %}"></script>
    <script src="{% static 'user/js/common_ajax.js' %}"></script>
{% endblock %}

