<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <!--面版标题-->
            <i class="glyphicon glyphicon-list-alt"></i> 新增集群
        </h3>
    </div>
    <div class="panel-body">
        <!--面版内容-->
        <form class="form-horizontal" method="post" action="{% url 'dbconfig_add' %}">
            {% csrf_token %}
            <fieldset>
                <input type="hidden" id="pathname" name="pathname">

                <div class="control-group">
                    <label class="control-label">集群名称<span style="color:#f00">*</span></label>
                    <input class="input-xlarge" type="text" name="cluster_name" required/>
                </div>

                <div class="control-group">
                    <label class="control-label">集群角色<span style="color:#f00">*</span></label>
                    {% for key, value in CLUSTER_ROLE.items %}
                        <label class="checkbox-inline">
                            <input type="radio" name="cluster_role" value="{{ key }}" {% if forloop.counter == 1 %}checked{% endif %}/>{{ value }}</label>
                    {% endfor %}
                </div>

                <div class="control-group">
                    <label class="control-label">集群地址<span style="color:#f00">*</span></label>
                    <input class="input-xlarge" type="text" name="cluster_host" required/>
                </div>

                <div class="control-group">
                    <label class="control-label">集群端口<span style="color:#f00">*</span></label>
                    <input class="input-xlarge" type="text" name="cluster_port" required/>
                </div>

                <div class="control-group">
                    <label class="control-label">登录用户<span style="color:#f00">*</span></label>
                    <input class="input-xlarge" type="text" name="cluster_user" required/>
                </div>

                <div class="control-group">
                    <label class="control-label">登录密码<span style="color:#f00">*</span></label>
                    <input class="input-xlarge" type="password" name="cluster_password" required/>
                </div>

                <br>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">保存</button>
                    <input type='button' class='btn btn-default' value='取消' onclick="normalRedirect();" />
                </div>
            </fieldset>
        </form>
    </div>
    <!--<div class="panel-footer">
        面版底部
    </div>-->
</div>

<script type="text/javascript">
    var pathname = sessionStorage.getItem('hide_history_url');
    document.getElementById('pathname').value = pathname;
</script>