<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <!--面版标题-->
            <i class="glyphicon glyphicon-list-alt"></i> 新增集群
        </h3>
    </div>
    <div class="panel-body">
        <!--面版内容-->
        <form class="form-horizontal" method="post" action="{% url 'dbconfig_add' %}"
              onsubmit="return validateCallback(this);">
            {% csrf_token %}
            <fieldset>
                <div class="control-group">
                    <label class="control-label">集群类型<span style="color:#f00">*</span></label>
                    {% for key, value in CLUSTER_TYPE.items %}
                        <label class="checkbox-inline">
                            <input type="radio" name="cluster_type" value="{{ key }}" {% if forloop.first %}checked{% endif %}/>{{ value }}</label>
                    {% endfor %}
                </div>

                <div class="control-group">
                    <label class="control-label">集群名称<span style="color:#f00">*</span></label>
                    <input class="input-xlarge required" type="text" name="cluster_name"/>
                </div>

                <div class="control-group">
                    <label class="control-label">集群地址<span style="color:#f00">*</span></label>
                    <input class="input-xlarge required" type="text" name="cluster_hosts"
                    placeholder="多个地址请用逗号分隔"/>
                </div>

                <div class="control-group">
                    <label class="control-label">集群端口<span style="color:#f00">*</span></label>
                    <input class="input-xlarge required" type="text" name="cluster_port"/>
                </div>

                <div class="control-group">
                    <label class="control-label">登录用户<span style="color:#f00">*</span></label>
                    <input class="input-xlarge required" type="text" name="cluster_user"/>
                </div>

                <div class="control-group">
                    <label class="control-label">登录密码<span style="color:#f00">*</span></label>
                    <input class="input-xlarge required" type="password" name="cluster_password"/>
                </div>

                <br>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">保存</button>
                    <!--<button class="btn" onclick="return httpRedirectAjax('{% url 'dbconfig_index' %}')">取消</button>-->
                    <button class="btn" onclick="location.reload([bForceGet])">取消</button>
                </div>
            </fieldset>
        </form>
    </div>
    <!--<div class="panel-footer">
        面版底部
    </div>-->
</div>
