<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <!--面版标题-->
            <i class="glyphicon glyphicon-list-alt"></i> 编辑集群
        </h3>
    </div>
    <div class="panel-body">
        <!--面版内容-->
        <form class="form-horizontal" method="post" action="{% url 'dbconfig_edit' cluster.id %}">
            {% csrf_token %}
            <fieldset>
                <input type="hidden" name="cluster_id" value="{{ cluster.id }}"/>

                <div class="control-group">
                    <label class="control-label">集群名称<span style="color:#f00">*</span></label>
                    <input class="input-xlarge" type="text" name="cluster_name" value="{{ cluster.cluster_name }}" required/>
                </div>

                <div class="control-group">
                    <label class="control-label">集群角色<span style="color:#f00">*</span></label>
                    {% for key, value in CLUSTER_ROLE.items %}
                        <label class="checkbox-inline" style="vertical-align: top">
                            <input type="radio" name="cluster_role" value="{{ key }}" {% if forloop.counter == 1 %}checked{% endif %}/>{{ value }}</label>
                    {% endfor %}
                </div>

                <div class="control-group">
                    <label class="control-label">集群地址<span style="color:#f00">*</span></label>
                    <input class="input-xlarge" type="text" name="cluster_host" value="{{ cluster.cluster_host }}" required/>
                </div>

                <div class="control-group">
                    <label class="control-label">集群端口<span style="color:#f00">*</span></label>
                    <input class="input-xlarge" type="text" name="cluster_port" value="{{ cluster.cluster_port }}" required/>
                </div>

                <div class="control-group">
                    <label class="control-label">登录用户<span style="color:#f00">*</span></label>
                    <input class="input-xlarge" type="text" name="cluster_user" value="{{ cluster.cluster_user }}" required/>
                </div>

                <div class="control-group">
                    <label class="control-label">登录密码<span style="color:#f00">*</span></label>
                    <input class="input-xlarge" type="password" name="cluster_password" value="{{ cluster.cluster_password }}" required/>
                </div>

                <div class="control-group">
                    <label class="control-label">集群状态<span style="color:#f00">*</span></label>
                    <select name="cluster_status" data-placeholder="选择集群状态" id="cluster_status" data-rel="chosen"
                            style="width:150px;">
                        {% for key,value in CLUSTER_STATUS.items %}
                            {% ifequal cluster.cluster_status key %}
                                <option value="{{ key }}" selected="selected">{{ value }}</option>
                            {% else %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endifequal %}
                        {% endfor %}
                    </select>
                </div>

                <br>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">保存</button>
                    <input type='button' class='btn btn-default' value='取消' onclick="normalRedirect();" />
                </div>
            </fieldset>
        </form>
    </div>
    <!--<div class="panel-footer">
        面版底部
    </div>-->
</div>